/resources/public/js/compiled/**
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
.idea/
.lsp/
.shadow-cljs/
.calva/
.clj-kondo/
quadtree.iml
resources/
node_modules/



