{:source-paths ["src"]

 :dependencies [[reagent "1.0.0"]
                [shodan "0.4.2"]
                [com.taoensso/tufte "2.2.0"]]

 :dev-http     {3449 "resources/public/"}

 :builds       {:app  {:output-dir "resources/public/js"
                       :asset-path "/js"
                       :target     :browser
                       :modules    {:shared {:entries []}
                                    :main   {:init-fn    quad.main/init!
                                             :depends-on #{:shared}}
                                    :worker {:init-fn    quad.quad-worker/init
                                             :depends-on #{:shared}
                                             :web-worker true}}
                       :devtools   {:after-load     quad.main/reload!
                                    :browser-inject :mod    ;; magically solves webworker for dev mode?!
                                    }}
                :test {:target    :node-test
                       :output-to "out/node-tests.js"
                       :ns-regexp "/*"
                       :autorun   false}}}
