/* some style */
body {
    background: black;
    padding: 0px;
    max-width: inherit;
}

/* Specilly used for Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#performance-container::-webkit-scrollbar {
    width: 0px;
}


